*{
	box-sizing: border-box;
}
body{
	background-color: #1f2833;
}
h1{
	color: #f64c72;
}
.design p{
	background-color: #c5c6c7;
	padding: 15px;
}
.design h3{
	background-color: #c5c6c7;
	margin: 0;
	padding: 5px;
}
#nav-list a{
	color: #29648a; 
	text-align: center;

}
#nav-list{
	background: #aaabb8;
	width: 100%;
}
#nav-list a:hover{
	background: #E7E7E7;
}
.navbar{
	background-color: #5d5c61;
}
.navbar-toggler{
	background: cyan;
	margin-bottom: 15px;
}
